._zplugin/
libs/promptlib/activate.zwc
libs/promptlib/modules/background_job.zsh.zwc
libs/promptlib/modules/crystal.zsh.zwc
libs/promptlib/modules/disk.zsh.zwc
libs/promptlib/modules/elixir.zsh.zwc
libs/promptlib/modules/git.zsh.zwc
libs/promptlib/modules/go.zsh.zwc
libs/promptlib/modules/java.zsh.zwc
libs/promptlib/modules/mercurial.zsh.zwc
libs/promptlib/modules/node.zsh.zwc
libs/promptlib/modules/php.zsh.zwc
libs/promptlib/modules/python.zsh.zwc
libs/promptlib/modules/ruby.zsh.zwc
libs/promptlib/modules/ssh.zsh.zwc
libs/promptlib/modules/subversion.zsh.zwc
libs/promptlib/modules/time.zsh.zwc
libs/promptlib/modules.zsh.zwc
libs/zsh-256color/zsh-256color.plugin.zsh.zwc
libs/zsh-async/async.zsh.zwc
modules/async.zsh.zwc
modules/git.zsh.zwc
modules/hg.zsh.zwc
modules/init.zsh.zwc
modules/python.zsh.zwc
modules/svn.zsh.zwc
modules/system.zsh.zwc
modules/themes/blue.zsh.zwc
modules/theme.zsh.zwc
alien.plugin.zsh.zwc
alien.zsh.zwc
